button {
    display: block;
    text-align: center;
}

.room-selector {
    padding-top: 20px;
    margin-bottom: 50px;
}

.center-btn {
    text-align: center;
}

.roomButton {
    top:15px;
    right:20px;
    position: absolute;
    margin-left:20%;

}

.roomParagraph {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.roomList {
    position: relative;
}